image: python:3.11

stages:
  - install
  - test
  - deploy

variables:
  PLAYWRIGHT_BROWSERS_PATH: /ms-playwright
  ALLURE_RESULTS: allure-results
  PAGES_DIR: public

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .cache/pip
    - $PLAYWRIGHT_BROWSERS_PATH

install:
  stage: install
  script:
    - pip install --upgrade pip
    - pip install pytest pytest-playwright requests allure-pytest
    - playwright install --with-deps chromium
  cache:
    paths:
      - .cache/pip
      - $PLAYWRIGHT_BROWSERS_PATH

test:
  stage: test
  script:
      python -m pytest tests/ \
        -v \
        --alluredir=$ALLURE_RESULTS \
        --clean-alluredir
  artifacts:
    when: always
    paths:
      - $ALLURE_RESULTS
    expire_in: 1 week

generate-allure:
  stage: deploy
  image: frankescobar/allure-docker-service:latest
  needs: ["test"]
  script:
    - |
      allure generate $ALLURE_RESULTS \
        -o $PAGES_DIR \
        --clean
      

      cat > $PAGES_DIR/plugins/behaviors/behaviors.json << 'EOF'
      {
        "testResult": {
          "labels": {
            "severity": "Severity",
            "feature": "Feature",
            "story": "Story"
          }
        }
      }
      EOF
  artifacts:
    paths:
      - $PAGES_DIR
    expire_in: 1 week

pages:
  stage: deploy
  dependencies:
    - generate-allure
  script:
    ...
  artifacts:
    paths:
      - $PAGES_DIR
  only:
    - main
    - master