**/screenshots/
/.pytest_cache/
#ide
.vscode
*.pyc
/allurectl_darwin_amd64
/.swagger-codegen/
/API/apis/
/LICENSE
/allurectl
/swagger-codegen.jar
/swagger-codegen/
/local.env
*.log
.env
venv/
.venv/
conftest.py
