# IDE/редакторы
.idea/

# Python кэш
__pycache__/
*.py[cod]

# Виртуальное окружение
venv310/
venv/
.env/

# Логи и результаты тестов
allure-results/
logs.log

# Системные/временные файлы
.DS_Store
*.swp
*.swo